.App {
  text-align: center;
}

.pagination_div{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.prev{
  display: none;
}

.btn{
  cursor: pointer;
}

.selected{
  background-color: lightgrey;
  color: black;
}